<img src="../img/python-logo-no-text.png"
     style="display:block;margin:auto;width:10%"/>
<br>
<div style="text-align:center; font-size:200%;">
  <b>Workshop: User Input</b>
</div>
<br/>
<div style="text-align:center;">Dr. Matthias HÃ¶lzl</div>
<br/>
<!-- <div style="text-align:center;">module_140_control_flow/ws_150_user_input</div> -->

# Conversion to miles

Write a function `convert_km_to_miles(km)` that converts the value `km` from kilometers to miles (i.e. the value in miles is returned).

*Note:*
- One kilometer equals $0,621371$ miles

In [ ]:
def convert_km_to_miles(km):
    return km * 0.621371

Test `convert_km_to_miles(km)` for 1 and 5 km.

In [ ]:
import math

assert math.isclose(convert_km_to_miles(1), 0.621371)

In [ ]:
assert math.isclose(convert_km_to_miles(5), 3.107, abs_tol=0.001)


Write a function `miles_app()` that reads a length in kilometers from the user
and prints out the equivalent distance in miles. If the user enters an empty
string, `Please enter a valid distance in km.` should be printed on the
screen.

*Notes*
- A string can be converted to a float value with `float()`.

In [ ]:
def miles_app():
    km = input("Please enter a distance in km: ")
    if km != "":
        meilen = konvertiere_km_nach_meilen(float(km))
        print(f"{km} km are {meilen} miles.")
    else:
        print("Please enter a valid distance in km.")

In [ ]:
# miles_app()

# Conversion to miles with Truthiness

Write a function `miles_app_2` that behaves similar to `miles_app` but
exploits the truthiness of strings.

In [ ]:
def miles_app_2():
    km = input("Please enter a distance in km: ")
    if km:
        meilen = konvertiere_km_nach_meilen(float(km))
        print(f"{km} km are {meilen} miles.")
    else:
        print("Please enter a valid distance in km.")

In [ ]:
miles_app_2()

# Cinema price

The Python-Cinema has the following entrance fees:

- Infants under 2 years are free.
- Children from 2-12 years pay 2 euros.
- Teenagers aged 13-17 pay 5 euros.
- Adults pay 10 euros.
- Pensioners (over 65) pay 6 euros.

Write a function `cinema_price(age)` that returns the price in Euros a person with age `age` has to pay.

In [ ]:
def cinema_price(age):
    if age < 2:
        return 0
    elif age <= 12:
        return 2
    elif age <= 17:
        return 5
    elif age < 65:
        return 10
    else:
        return 6

Test the function `cinema_price()` for some representative values.

Write a function `print_cinema_price(age)`, that prints a text of the following type on the screen:

```
You are 1 year old. Your price is 0 Euro.
You are 15 years old. Your price is 5 Euro.
```

In [ ]:
def print_cinema_price(age):
    price = kinopreis(age)
    if age == 1:
        print(f"You are 1 year old. Your price is {price} Euro.")
    else:
        print(f"You are {age} years old. Your price is {price} Euro.")

Test `print_cinema_price()` for representative values.

In [ ]:
print_cinema_price(1)
print_cinema_price(7)
print_cinema_price(15)
print_cinema_price(25)
print_cinema_price(70)

Write a function `cinema_app()` that reads an age and prints the
cinema price for a person of this age in the format just described. Two example interactions:

```
How old are they? 37
You are 37 years old. Their price is 10 euros.

How old are they? 12
You are 12 years old. Their price is 2 euros.
```

In [ ]:
def cinema_app():
    age = input("How old are you? ")
    if age:
        print_cinema_price(int(age))
    else:
        print("Please enter a valid age.")

In [ ]:
cinema_app()