<img src="img/python-logo-notext.svg"
     style="display:block;margin:auto;width:10%"/>
<br>
<div style="text-align:center; font-size:200%;"><b>Pandas Data Frames 2</b></div>
<br/>
<div style="text-align:center;">Dr. Matthias HÃ¶lzl</div>

In [ ]:
import numpy as np
import pandas as pd

## Fehlende Werte

In [ ]:
def create_data_frame_with_nans():
    return pd.DataFrame(
        {
            "A": [1, 2, np.nan, np.nan, 0],
            "B": [5, 6, 7, np.nan, 0],
            "C": [9, 10, 11, 12, 0],
            "D": [13, 14, 15, 16, 0],
            "E": [np.nan, 18, 19, 20, 0],
        }
    )

In [ ]:
df = create_data_frame_with_nans()

In [ ]:
df

In [ ]:
df.isna()

In [ ]:
df.count()

In [ ]:
df

In [ ]:
df.count(axis=1)

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum(axis=1)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.dropna(axis=1, inplace=True)

In [ ]:
df

In [ ]:
df = create_data_frame_with_nans()
df

In [ ]:
df.fillna(value=1000)

In [ ]:
df.mean()

In [ ]:
df.fillna(value=df.mean())

In [ ]:
# df.fillna(value=df.mean(axis=1), axis=1)

## Gruppieren

In [ ]:
def create_course_df():
    data = {
        "Course": [
            "Python",
            "Python",
            "Python",
            "Python",
            "Java",
            "Java",
            "Java",
            "C++",
            "C++",
        ],
        "Person": [
            "Jack",
            "Jill",
            "John",
            "Bill",
            "Jack",
            "Bill",
            "Davy",
            "Jack",
            "Diane",
        ],
        "Score": [97, 92, 38, 73, 81, 52, 62, 86, 98],
    }
    return pd.DataFrame(data)

In [ ]:
df = create_course_df()
df

In [ ]:
df.groupby("Course")

In [ ]:
df_by_course = df.groupby("Course")

In [ ]:
df_by_course.count()

In [ ]:
df_by_course["Person"].count()

In [ ]:
df_by_course.mean()

In [ ]:
df_by_course.std()

In [ ]:
df_by_course["Score"].aggregate(["mean", "std"])

In [ ]:
df_by_course.aggregate(["min", "max"])

In [ ]:
df_by_course["Score"].aggregate(["min", "max", "mean", "std"])

In [ ]:
df.groupby("Person").mean()

In [ ]:
df_by_course.describe()

## Operationen (Fortsetzung)

In [ ]:
df = create_course_df()
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.sort_values(by="Course")

In [ ]:
df["Course"].values

In [ ]:
df["Person"].values

In [ ]:
df["Course"].unique()

In [ ]:
df["Person"].unique()

In [ ]:
df["Person"].nunique()

In [ ]:
df["Person"].value_counts()

## Auswahl

In [ ]:
df[df["Score"] > 80]

In [ ]:
df[(df["Score"] > 60) & (df["Score"] <= 80)]


## Transformation von Daten

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]], columns=["A", "B"])

In [ ]:
df

In [ ]:
df.apply(np.square)

In [ ]:
df.apply(np.sum)

In [ ]:
df.apply(np.sum, axis=1)

In [ ]:
df.apply(lambda n: [np.sum(n), np.mean(n)], axis=1)

In [ ]:
df.apply(lambda n: [np.sum(n), np.mean(n)], axis=1, result_type="expand")

## Elementweise Anwendung von Funktionen:

In [ ]:
df.applymap(lambda x: f"Value: {x}")